<app-encabezado titulo="Cambiar contraseña" icono="help-circle"></app-encabezado>

<ion-content class="ion-padding"  >
<ion-img src="../assets/images/duoc.png"></ion-img>
  <ion-text color="white">
  
    <p>Ingrese su nueva contraseña</p>
  </ion-text>

<ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input type="password"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Repitir contraseña</ion-label>
      <ion-input type="password"  required></ion-input>
    </ion-item>
    
    <ion-button  expand="block" color="warning" (click)="presentAlert()">
      Cambiar
    </ion-button>
  
  



</ion-content>

<app-footer></app-footer>