<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>
      Iniciar Sesión
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<ion-img src="../assets/images/Sin_titulo_1.png"></ion-img>
  <form miFormulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" name="usr" required [(ngModel)]="usuario.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="psw" required [(ngModel)]="usuario.password"></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit"  expand="block" color="warning" class="animate__animated animate__fadeInUp" >
      Iniciar sesión
    </ion-button>


  </form>

<a routerLink="../pag4"><p id="textoctr">¿Ha olvidado su contraseña?</p></a>


</ion-content>



<app-footer></app-footer>