<ion-header >
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

 <ion-text color="secondary">
  <h1>Pagina Home</h1>
</ion-text>

<ion-text color="success">
  <p>Hola Mundo</p>
</ion-text>


<ion-button expand="expand" shape="round" routerLink="../pag2"  mode="ios"><ion-icon slot="start" name="star"></ion-icon>Ir pagina 2</ion-button>
<ion-button expand="block" color="success" routerLink="../pag3" mode="ios">Ir pagina 3</ion-button>
<ion-button expand="full" color="warning" routerLink="../pag4"  mode="ios">Ir pagina 4</ion-button>
  
</ion-content>



<!-- Footer without a border -->
<ion-footer>
  <ion-toolbar color="success">
    <ion-text slot="end" class="ion-padding">
    <p>App de ejemplo</p>
  </ion-text>
  </ion-toolbar>
</ion-footer>
