<div *ngIf="nombreusuario!==''" >
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="../sumapage">
        <ion-icon slot="icon-only" name="school"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Pagina Home
    </ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="nombreusuario!==''" >

    

    <ion-text color="secondary">
      <h3>Bienvenido {{nombreusuario}}</h3>
    </ion-text>

    <ion-text><p>Nuestra aplicación te permite leer codigos QR especiales entregados por el docente los cuales te permiten quedar presente durante clases</p></ion-text>

    <ion-img src="../assets/images/escaner.png" style="width: 280px; height: 280px;"></ion-img>

    <ion-button  expand="block" color="warning" (click)="presentAlert()" class="animate__animated animate__bounce">
      Escanear codigos QR
    </ion-button>
  </div>
  <ion-text color="danger" *ngIf="nombreusuario===''" >
    <h1>Tiene que iniciar sesión para ver este contenido</h1>
  </ion-text>

  <!-- <ion-button expand="expand" shape="round" routerLink="../pag2"  mode="ios"><ion-icon slot="start" name="star"></ion-icon>Ir pagina 2</ion-button>
<ion-button expand="block" color="success" routerLink="../pag3" mode="ios">Ir pagina 3</ion-button>
<ion-button expand="full" color="warning" routerLink="../pag4"  mode="ios">Ir pagina 4</ion-button>
<ion-button expand="full" color="danger" routerLink="../sumapage"  mode="ios">Ir pagina de Suma</ion-button>  -->

</ion-content>



<app-footer></app-footer>